/* Reset dan dasar styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Pastikan body setinggi viewport */
}

header {
    background-color: #bc831a;
    color: #fff;
    padding: 20px 0; /* Padding untuk header */
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-name {
    font-size: 24px; /* Ukuran font untuk nama situs */
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1; /* Membiarkan main mengisi ruang yang tersisa */
    padding: 20px;
    text-align: center;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.slideshow {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
}

footer {
    background-color: #bc831a;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Card styling */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    overflow: hidden;
    text-align: left;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card-content p {
    margin: 0;
    color: #555;
}
